/*=================================================Footer================================================*/

#clear{
	clear: both;
}

.footer
{
  display: block;
  padding-top: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
  height: 50px;
  background-color: #AFD342;  
}

.footer p{
	text-decoration: none;
	color: black;
  text-align: center;
}

