#posting-receipt {
	text-align: left;
	min-width : 600px;
	width : 600px;
	max-width : 800px;
	margin : 0 auto;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
}

#posting-receipt a {
	text-decoration: none;
	color: #bbb;
}

#posting-receipt a:hover {
	text-decoration: underline;
	color: #bbb;
}

#posting-receipt td {
	height: 10px;
}

#posting-receipt .pcs-class {
	width: 50px;
}

#posting-receipt .ingredients-class {
	width: 480px;
}

#posting-receipt .description-food {
	width: 563px;
}

#posting-receipt .food-name {
	width: 405px;
}

#posting-receipt .howto-class {
	width: 539px;
}

.posting-button {
	width: 75px;
	border-radius: 3px;
	background-color: #AFD342;
	color: #fff;
}

.add-posting-button {
	border-radius: 3px;
	background-color: #AFD342;
	color: #fff;
}

#slide-search-result{
	overflow-y: scroll;
	display:none;
	background: #fff;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: absolute;
	/*top: 27.5%; left: 66.5%;*/
	margin-left: 703px;
	width: 228px;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

/*=============================== Navbar - Search ===================================*/

#slide-search-result{
	overflow-y: scroll;
	display:none;
	background: #fff;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: absolute;
	/*top: 27.5%; left: 66.5%;*/
	margin-left: 703px;
	width: 228px;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */