#isi{
	width: 600px;
	height: 620px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.resep{
	float: left;
	width: 30%;
	height : 180px;
	margin-left: 13px;
	margin-right: 0px;
	margin-top: 15px;
	border-radius: 10px;
	border : 0.5px solid black;
	text-align: center;
}

.gambarresep{
	width: 160px;
	height: 130px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	vertical-align: center;
	line-height: 180px;
}

.judulresep{
	margin-top: 10px;
	width: 160px;
	height: 20px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	color: black;
	text-align: center;
	padding-top: 2px;
	text-decoration: none;
}

.gambar{
	width: 160px;
	height: 130px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 10px;
}

#page{
	clear: both;
	color: black;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 10px;
}

a.pagee{
	padding: 2px 8px;
	margin-right: 5px;
	background-color: rgb(85, 85, 85);
	color: white;
	border-radius: 5px;
	text-decoration: none;
}

a.pageee{
	padding: 2px 8px;
	margin-right: 5px;
	background-color: rgb(238, 238, 238);
	color: black;
	border-radius: 5px;
	text-decoration: none;
}

a.pagee:hover{
	text-decoration: underline;
} 

a.pageee:hover{
	text-decoration: underline;
}

a.judulresepp:hover{
	text-decoration: underline;
}

.judulresepp{
	text-decoration: none;
	color: black;
}

#bungkusresep
{
	height: 585px;
	width: auto;
	overflow-y: auto;
}

#bungkusresepindex
{
	height: 250px;
	width: auto;
}

#isiindex{
	width: 600px;
	height: 298px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}


#bungkusresep .resep .gambarresep a {
	line-height: 50px;
}