#content_msg
{
   float: left;
   width: 650px;
   height: 550px;
   background:rgba(0,0,0,0.5);
}

#content_msg p{
	text-align: center;
	color: white;
}


#rightbarmsg {
   float: left;
   width: 310px;
   height: 550px;
   background:rgba(0,0,0,0.5);
   
}

#categorymsg {
	height: 500px;
	border: 1px solid;
	border-radius: 5px;
	background-color: #AFD342;
	margin: 10px 10px 20px;
	margin-left: 20px;
	margin-top: 23px;
}

#categorymsg .titlemsg {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1px;
	color: black;

}

#categorymsg ul {
	padding-top: 20px;
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	height: 420px;
}

#categorymsg ul li{
	font-weight: bold;
	list-style: none;
	padding-left: 20px;
}

.friend-name {
	cursor: pointer;
	text-decoration: none;
	color: black;
	font-weight: bold;
}


#areamsg{
	width: 600px;
	height: 470px;
	background-color: #AFD342;
	border-radius: 5px;
	margin-left: 30px;
	margin-top: 10px;
	padding-top: 10px;
}

#blockmsg{
	padding-top: 10px;
	border-radius: 5px;
	background:rgba(0,0,0,0.5);
	width: 570px;
	height: 380px;
	margin-left: 15px;
	color: black;
	font-size: 12px;
	text-decoration: none;
	overflow-y: auto;
}

#blockmsg img{
	width: 50px;
	height: 50px;
	margin-top: 2px;
	margin-left: 2px;
	
}

.blockisimsg-left{
	border-radius: 5px;
	width: 510px;
	height: 60px;
	background-color: white;
	padding-top: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	float: left;
	
}

.blockisimsg{
	border-radius: 5px;
	width: 510px;
	height: 60px;
	background-color: white;
	padding-top: 3px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 10px;
	float: right;
}

.photomsg{
	width: 54px;
	height: 54px;
	background-color: black;
	float: right;
	border-radius: 10px;
}

.photomsg-left{
	margin-left: -10px;
	float: left;
	width: 54px;
	height: 54px;
	background-color: black;
	border-radius: 10px;
}

.name-isi{
	float: left;
	margin-left: 10px;
}

.name-isi-left{
	float: left;
}

.usrname{
	padding-top: 5px;
	

	font-size: 14px;
}

.usrname-left{
	padding-top: 5px;
	margin-left: 10px;
	font-size: 14px;
}

.isimsg{
	width: 400px;
	height: auto;

	
	
}

.isimsg-left{
	width: 400px;
	height: auto;
	margin-left: 10px;
}


#textareamsg{
	width: 565px;
	height: 50px;
	margin-left: 15px;
	font: arial;
}

#btnmsg{
	margin-top: 10px;
	margin-left: 515px;
	width: 70px;
	border-radius: 5px;
	background-color: #AFD342;
	color: #fff;
}

#textmsg {
	margin-left: 15px;
	margin-top: 12px;
	width: 567px;
	height: 20px;
	border-radius: 5px;
}

