/*=================================================Navigation Bar================================================*/
#list-navbar {
	float: left;

}

#search-navbar {
	float: right;
}

#all-navbar {
	padding: 0 0 0 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	border-radius: 5px;
	background-color: #AFD342;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.50);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.50);
	box-shadow: 0 1px 2px rgba(0,0,0,.50);
	z-index: 5000;
}

ul.navbar{
	width: 500px;
	height: 50px;
	list-style: none;
}

/* Navstyle*/
ul.navbar ul{display:none;}
/*ul.navbar li:hover>ul{display:block}*/
ul.navbar ul{position: absolute;left:0px;top:98%;}
ul.navbar1 ul ul{position: absolute;left:98%;top:-20px;}
ul.navbar,ul.ml-navigation-bar-1 ul {
	


}

/*List Items*/
ul.navbar li{
	margin:2px 0px 0px 0px;
	float:left;


} 

ul.navbar ul li {
	float:none;
	margin: 5px 0;
}

/* Regular Links*/
ul.navbar a:active, ul.navbar a:focus {
	outline-style:none;
}

ul.navbar a {
	display:block;
	vertical-align:middle;
	background: none;
	border-right: 1px solid #9cbe3c;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
	padding: 17px 20px;
	text-decoration: none;
	color: black;	
	margin-top: -2px;
	font-weight: bold;
	font-size: 14px;
}


/*Active State*/
ul.navbar li.active a, ul.navbar li.active:hover a {
	color: #3f4e14;
	text-decoration:none;
	background-color: rgba(0,0,0,.15);
	-webkit-box-shadow: inset 0 5px 7px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 5px 7px rgba(0,0,0,.4);
	box-shadow: inset 0 5px 7px rgba(0,0,0,.4);
	border: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

/*Hover State*/
ul.navbar li:hover>a{
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.25);
	text-decoration:none;
	background-color: rgba(0,0,0,.15);
	
}

ul.navbar li a:hover{
	position:relative;
}


/*Search Field*/
.search-field {
	float: right;
	width: 250px;
	height: 38px;
	padding: 0px;
	margin: 7px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgba(28,28,28,.2);
	-webkit-box-shadow: 0 1px rgba(255,255,255,.25), inset 0 1px 1px rgba(0,0,0,.24);
	-moz-box-shadow: 0 1px rgba(255,255,255,.25), inset 0 1px 1px rgba(0,0,0,.24);
	box-shadow: 0 1px rgba(255,255,255,.25), inset 0 1px 1px rgba(0,0,0,.24);
	border: none;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.search-field input[type=text] {
	background: none;
	color: #fff;
	border: none;
	color: #fff;
	font-size: 14px;
	width: 184px;
	padding: 10px 0 4px 8px;
}

.search-field input[type=text]:focus {
	outline: none;
}

.search-button {
	float: right;
	margin:  2px 2px 0 0;
	
}

