#content_setting
{
   float: left;
   width: 958px;
   height: 450px;
   margin-top: 0px;
   background:rgba(0,0,0,0.5);
}

#setting-profile {
	text-align: left;
	min-width : 900px;
	width : 50%;
	max-width : 1000px;
	margin : 0 auto;
	padding: 10px;
	background: rgba(0, 0, 0, 0.3);
}

#setting-profile textarea,

#setting-profile input {
	width: 98%;
}

#setting-profile .title {
	text-align: left;
}

#setting-profile td {
	height: 30px;
}

.save-setting-submit {
	width: 100px;
}

.title-setting {
	padding-left: 10px;
	padding-right: 10px;
	background: rgba(0, 0, 0, 0.5);
}

#title-setting{
	width: 150px;
}

#setting-profile p {
	font-size: 8px;
}

/*========================================================profile, setting, message, logout=================================================*/

#setting li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	

}

#setting ul li{
	line-height: 20px;
    vertical-align: middle;
    list-style-type: none;

}

#setting{
	float: right;
	width: 100px;
	height: 100px;
	margin-top: 18px;
}

#pprofil img{
	width: 100px;
	height: 100px;
	border: 0px;
	float: right;
	border-radius: 8px;
}