#content_showresep{
	float: left;
   width: 958px;
   height: auto;
   margin-top: 0px;
   padding-bottom: 20px;
	background:rgba(0,0,0,0.5);

}

#add a{
	color: white;
}

#up-side{
	margin-top: 10px;
}

#nama-resep{
	width: 570px;
	height: 50px;
	float: left;
	color: white;
	padding-left: 20px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 47px;
	font-stretch: ultra-expanded;
	color: cyan;
	font-style: oblique;
	font-variant: small-caps;
}

#user{
	width: 240px;
	height: 50px;
	color: white;
	float: left;
	font-style: italic;
}

#foto-user{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

#username{
	clear: right;
	margin-left: 10px;
}

.foto{
	width: 50px;
	height: 50px;
	border-radius: 3px;
}

#add-friend{
	margin-top: 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	background-color: #AFD342;
	color: #fff;
	font-size: 18px;
}

.PleaseLogin{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #AFD342;
	margin-left: 30px;
	margin-bottom: 50px;
	font-size: 22px;
}

 #add-friend a{
	text-decoration: none;
}

#left-side{
	padding-left: 10px;
	margin-top: 8px;
	width: 379px;
	height: auto;
	background:rgba(0,0,0,0.0);
	float: left;

}

.ppfood{
	width: 349px;
	height: 200px;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 5px;

}

#ingre{
	background-color: white;
	color: black;
	width: 349px;
	height: 420px;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 5px;
	overflow-y:auto; 

}

#right-side{
	padding-right: 10px;
	margin-top: 8px;
	width: 530px;
	height: auto;
	background:rgba(0,0,0,0.0);
	float: left;
}

#desc{
	background-color: white;
	color: black;
	width: 542px;
	height: 120px;
	margin-top: 5px;
	border-radius: 5px;

}

#howto{
	background-color: white;
	color: black;
	width: 542px;
	height: 500px;
	margin-top: 8px;
	border-radius: 5px;
	overflow-y:auto; 

}

#comment{
	background-color: green;
	border-radius: 5px;
}

.section-head{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-left: 30px;
	margin-bottom: 50px;
	font-size: 20px;
}

#recipe-desc{
	margin-left: 30px;
	margin-top: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 100;
	width: 500px;
}

#steps{
	margin-top: 20px;
}

.steps{
	width: 480px;
	height: 80px;
	background-color: #AFD342;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	border-radius: 4px;
}

.step-picts{
	height: 60px;
	width: 60px;
	margin: 10px 10px 10px 10px;
	border-radius: 3px;
	float: left;
}

.step-head{
	float: left;
	font-size: 16px;
	margin-top: 12px;
}

.step-desc{
	clear:right;
	font-size: 12px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
}

#ingre-desc{
	margin-left: 30px;
	margin-top: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	font-weight: 100;
}

#ingres{
	margin-top: 20px;
}

.ingres{
	width: 285px;
	height: 80px;
	background-color: #AFD342;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 30px;
	border-radius: 4px;
}

.ingre-head{
	font-size: 16px;
	padding-top: 10px;
	margin-left: 10px;
}

.ingre-desc{
	font-size: 12px;
	margin-top: 5px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

#imglike{
	cursor: pointer;
	width: 90px;
	height: 30px;
	margin-top: -37px;
	margin-right: 2px;
	margin-left: 444px;
}

.like{
	width: 0px;
	height: 0px;
	margin-top: -15px;
}


#comment-section{
	background-color: #555;
	color: black;
	height: auto;
	margin-top: 8px;
	border-radius: 5px;
	width: 910px;
	text-align: center;
	margin-left: 20px;


}

#comment-section .input-comment{
	margin-top: 10px;
	width: 800px;
	height: 50px;
	border-radius: 10px;
}

#comment-section .post-button{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 730px;
	width: 75px;
	border-radius: 5px;
}

#comments {
	overflow-y: auto;
	height: 300px;
}

.comments{
	width: 800px;
	height: 80px;
	background-color: #AFD342;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 52px;
	border-radius: 4px;
}

.cmt-userpicts{
	height: 60px;
	width: 60px;
	margin: 10px 10px 10px 10px;
	border-radius: 3px;
	float: left;
}

.cmt-username{
	float: left;
	font-size: 16px;
	margin-top: 12px;
}

.cmt-date{
	font-size: 9px;
	margin-top: 20px;
	padding-top: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
	text-align: right;
}

.cmt-desc{
	clear:right;
	font-size: 13px;
	margin-top: 5px;
	padding-bottom: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left
}

