/*=================================================Body/Header================================================*/
html{
    background: url(../img/food.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body{
	 
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 min-width:960px;
	 color:#bbbbbb; 
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 10px;
}


ul {
	padding: 0;
	margin: 0;
}

h1 {
	width: 960px;
	margin: 40px auto 20px;
	color: #666;
}


#webname{
	font-size: 30px;
	text-decoration: none;
	color: white;
}

#webname img{
	width: 410px;
	height: 135px;
	margin-top: -10px;
	margin-left: 20px;
}

header{
	width: 960px;
	background:rgba(0,0,0,0.5);
	height: 120px;
	
}

header .catalogue{
	margin-top: 0px;
	margin-right: 10px;
}

header img{
	margin-top: 10px;
	margin-right: 10px;
}

#container
{
	width: 960px;
	margin: 0px auto;
}

.catalogue img{
	width: 80px;
	height: 80px;
	border: 0px;
	float: right;
}

.register-window img{
	width: 130px;
	height: 35px;
	border: 0px;
	float: right;
}

.login-window img{
	width: 130px;
	height: 35px;
	border: 0px;
	float: right;
}

.batasan {
	font-size: 9px;
}

/*================================= Tips - Trik =====================================*/
#post-form-triks {
	width: 600px;
	height: auto;
	background-color: rgba(0,0,0,0.5);
	margin: 10px;
}

#post-form-triks input {
	margin-top: 5px;
	margin-bottom: 5px;
}

#post-form-triks .pad-tr {
	margin: 20px;
}

#post-form-triks .pad-tr .triks-name {
	width: 350px;
}

#post-form-triks textarea {
	width: 560px;
	height: 50px;
	outline: none;
	resize: none;
	overflow: auto;
	font: 13px Arial;

	margin:0px 0px;
  padding:5px;
  line-height:16px;
}

.triks-submit-button {
	float: right;
}

#post-form-triks .pad-tr a {
	text-decoration: none;
	color: #bbb;
}

.show-post-ganjil {
	width: 600px;
	height: 48px;
	background-color: white;
	margin: 10px;
	border-radius: 5px
}

.show-post-ganjil img {
	width: 48px;
	height: 48px;
	clear: right;
	float: left;
	border-radius: 5px
}

.show-post-ganjil a {
	text-decoration: none;
	color: black;
}

.show-post-genap {
	width: 600px;
	height: 48px;
	background-color: white;
	margin: 10px;
	border-radius: 5px
}

.show-post-genap .show-post-genap-title {
	clear: right;
	float: left;
}

.show-post-genap img {
	width: 48px;
	height: 48px;
	clear: right;
	float: left;
	border-radius: 5px;
	float: right;
}

.show-post-genap a {
	text-decoration: none;
	color: black;
}

#content_trik #isi-triks {
	height: 402px;
	overflow-y: auto;
}

/*=========================================== Catalogue ==========================================*/

.catalogue-box {
   float: left;
   width: 120px;
   height: 135px;
   background-color: white;
   border-radius: 5px;
   text-align: center;
   margin-top: 10px;
   margin-left: 20px;
}

.catalogue-box .food-pict-box img {
	width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 10px;
}

.catalogue-box .food-title-box a {
   text-decoration: none;
   color: black;
}


#button-at-home {
	width: 40px;
	height: 10px;
}


#content_setting p {
	text-align: center;
}

/*=============================== Navbar - Search ===================================*/

#slide-search-result{
	overflow-y: scroll;
	display:none;
	background: #fff;
	padding: 10px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: absolute;
	/*top: 27.5%; left: 66.5%;*/
	margin-left: 703px;
	width: 228px;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */